.button {
  width: 70px;
  height: 70px;
  background-color: rgb(18, 194, 224);
  border: 2px solid black;
  padding: 0 10px;
  margin: 5px;
  cursor: pointer;
}

body {
  text-align: center;
  background-image: url('tebakangka.jpg');
  background-size: 500px;

}
.back{
  background-color: blanchedalmond;
  border: 1px solid magenta;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  margin-bottom: 40px;
  cursor: pointer;
}

.a{
  font-size: 20px;
  height: 120px;
  font-family: montserrat; 
  text-align: center;
  opacity: 0.7;
  background-color:rgba(238, 238, 0); 
  color: black;
  font-weight: bold;
  border-radius: 150px;
}
